input[type=range]#rSlider::-webkit-slider-thumb {
    background: #f44336 !important;
}

input[type=range]#gSlider::-webkit-slider-thumb {
    background: #4caf50 !important;
}

input[type=range]#bSlider::-webkit-slider-thumb {
    background: #2196f3 !important;
}
