input[type=range]#rSlider::-webkit-slider-thumb {
    background: #f44336 !important;
}

input[type=range]#gSlider::-webkit-slider-thumb {
    background: #4caf50 !important;
}

input[type=range]#bSlider::-webkit-slider-thumb {
    background: #2196f3 !important;
}

.card-content button {
    margin: 0.3em;
}

input[type=range] {
    border: 1px solid #616161 !important;
}